body {
            background-position: 50% 50%;
            background-image: url("https://cdn.prod.website-files.com/5a9ee6416e90d20001b20038/64c21faa4f2a2f5ac63df849_-23.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;    /* vh stands for "viewport height" */    /* Makes the Element Full Screen: */
            
        }
        h1 {
            text-align: center;
        }
        ul {
            color: rgb(128, 76, 128);
            font-size: larger;
            text-align: left;
        }
        p {
            color: rgb(105, 58, 105);
        }
        hr {
            width: 34%;
            height: 30%;
            margin-left: 0%;
            color: rgb(79, 32, 79);
        }
        .education, .experience, .contact {
            margin-left: 120px;
            margin-bottom: 80px;
        }
        .person {
            object-fit: cover;
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: 10px;
            right: 10px;
            margin-right: 700px;
            position: absolute;
            border: 2px solid #fff;
            font-size: 10px;
        }
